<!DOCTYPE html>
<html lang="en">
  <head>
    <title>物业管理系统-500</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adminx.css') }}" media="screen" />
  </head>
  <body>
    <div class="adminx-container d-flex justify-content-center align-items-center">
      <div class="page-error">
        <div class="error-code">
          500
        </div>
        <h1>内部服务器代码错误，是我不对</h1>

        <p class="text-muted mb-5">
          可能是我没写好，请您稍等
        </p>

        <a href="../" class="btn btn-primary">重新加载</a>
      </div>
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adminx.js') }}"></script>

    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.vanilla.js"></script-->
  </body>
</html>